/* Estilos generales */
.cellWithImg {
  display: flex;
  align-items: center;
}

.cellImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.cellWithnicon {
 padding-right: 10px;
} 

.cellWithActive {
  display: flex;
  align-items: center;
}
.cellButtonPassword {
  display: flex;
    border: none;
    cursor: pointer;
}

.passwordField {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
  
}

.cellImgPassword {
    width: 20px;
  height: 20px;
  margin-right: 5px;
    margin-left: 10px; /* Espacio entre los botones */
}
.containerButton {
  display: flex;
}

.activeGreen {
  color: green;
}

.activeRed {
  color: red;
}

.passwordContainer {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}
.productContainer {
    max-height: 30px;
    overflow-y: scroll;
    /* border: #7d1d1d; */
    padding: 10px;
}

.productItem {
  margin-bottom: 1%;
}

/* Estilos específicos para cada campo */
#id .MuiDataGrid-cell {
  font-weight: bold;
}

#email .MuiDataGrid-cell {
  font-style: italic;
  margin-bottom: 5px; /* Agrega un margen inferior para separar más el campo de email */
}

#phone_Number .MuiDataGrid-cell {
  font-family: monospace;
  margin-top: 5px; /* Agrega un margen superior para separar más el número de teléfono */
}


#active .MuiDataGrid-cell {
  display: flex;
  align-items: center;
}

#product .MuiDataGrid-cell {
  font-weight: bold;
}

#phone_Number .MuiDataGrid-cell {
  font-family: monospace;
}
